<h2><%= @collection.nil? ? @issue.to_s : @collection.to_s %></h2>
<p><%= link_to 'Update Details', user_issue_path(@user, @issue), method: 'put', class: 'btn btn-primary' %></p>

<ul>
  <li>
    Volume: <%= link_to @issue.volume, user_volume_path(@user, @issue.volume) %>
  </li>
  <li>
    Cover: <%= @collection.nil? ? image_tag(@issue.cover.url) : image_tag(@collection.variant.url) %>
  </li>
  <ul>
    <% @issue.creators.each do |creator| %>
      <li>
        <%= creator.person_name %>,
        <%= creator.role_name %>
      </li>
    <% end %>
  </ul>
  <ul>
    <% @issue.characters.each do |character| %>
      <li>
        <%= character.name %>
      </li>
    <% end %>
  </ul>
</ul>
