<h2><%= @variant.nil? ? @issue.to_s : @variant.to_s %></h2>
<p>
  <%= link_to 'Update Details', user_issue_path(@user, @issue), method: 'put', class: 'btn btn-primary' %>
  <%= link_to 'Add Issue to Collection', user_add_existing_issue_path(@user, @issue), method: 'post', class: 'btn btn-primary' unless @user.issues.include?(@issue) %>
</p>

<div class="row">
  <div class="col-md-3 col-md-push-9">
    <% image = @variant.nil? ? @issue.cover.url : @variant.variant.url %>
    <%= link_to image, class: 'thumbnail fancybox' do %>
      <%= image_tag(image) %>
    <% end %>
  </div>

  <div class="col-md-9 col-md-pull-3">
    <ul>
      <li>
        Volume: <%= link_to @issue.volume, user_volume_path(@user, @issue.volume) %>
      </li>
    </ul>

    <ul>
      <p>Creative Team</p>
      <% @issue.creators.each do |creator| %>
        <li>
          <%= creator.person_name %>,
          <%= creator.role_name %>
        </li>
      <% end %>
    </ul>

    <ul>
      <p>Characters</p>
      <% @issue.characters.each do |character| %>
        <li>
          <%= link_to character.name, user_character_path(@user, character) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
