<div class='span4'>
  <h2>Recent Issues</h2>
  <p>(<%= @user.issues.size %> total)</p>
  <ul>
    <% @recent_collections.each do |collection| %>
      <% issue = collection.issue %>
      <li>
        <% if collection.is_variant? %>
          <%= link_to collection.to_s, user_variant_path(@user, issue, collection.id) %>
        <% else %>
          <%= link_to issue.to_s, user_issue_path(@user, issue) %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

<div class='span4'>
  <h2>Publishers</h2>
  <ul>
    <% @publishers.each do |publisher| %>
      <li>
        <%= link_to publisher.name, user_publisher_path(@user, publisher) %>
        (<%= pluralize(publisher.volumes.size, 'Volume') %>)
      </li>
    <% end %>
  </ul>
</div>

<div class='span4'>
  <h2>Top Volumes</h2>
  <ul>
    <% @top_volumes.each do |id, count| %>
      <% volume = Volume.find(id) %>
      <li>
        <%= link_to(volume.to_s, user_volume_path(@user, volume)) %> (<%= pluralize(count, 'Issue') %>)
      </li>
    <% end %>
  </ul>
</div>