<!DOCTYPE html>
<html>
<head>
  <title>Comics</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class='row'>
    <div class='span12'>
      <div class='user-info'>
        <% if @current_user %>
          Signed in as <%= @current_user.name %>
          <%= link_to 'Sign out', signout_path %>
        <% else %>
          <%= link_to 'Sign in with Google', '/auth/google_oauth2' %>
        <% end %>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='span3'>
      <ul class='nav nav-list affix'>
        <% if @user %>
        <li>
          <%= link_to 'Home', user_path(@current_user) %>
        </li>
        <li>
          <%= link_to 'View Publishers', user_publishers_path(@current_user) %>
        </li>
        <li>
          <%= link_to 'View Volumes', user_volumes_path(@current_user) %>
        </li>
        <li>
          <%= link_to 'View Issues', user_issues_path(@current_user) %>
        </li>
        <li>
          <%= link_to 'View Characters', user_characters_path(@current_user) %>
        </li>
        <li>
          <%= link_to 'View People', user_people_path(@current_user) %>
        </li>
        <li>
          <%= link_to 'Chrome Extension Token', token_user_path(@current_user) %>
        </li>
        <% end %>
      </ul>
    </div>
    <div class='span9'>
      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
